@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

body,html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Saira', sans-serif;

}
#root{
  height: 100%;
}


