.headerStatic{
    font-size: 18px;
    font-weight: 700;
    line-height: 28.33px;
    color: black;
}
.statisticsMain{
  
    border-top: 1px solid #c4c4c4;
    margin-top: 10px;
}
.statisticsMain div { 
    font-size: 14px;
font-weight: 400;
line-height: 22.04px;
color: black;

}
.statisticsMain span { 

font-weight: 700;


}